<div class="flex flex-col h-screen bg-sky-100">
  <header class="bg-white/80 backdrop-blur-sm shadow-sm p-4 flex items-center justify-between flex-shrink-0">
    <h1 class="text-2xl font-bold text-gray-800 truncate">
      <a routerLink="/dashboard" class="hover:underline text-blue-600">Mis Tableros</a>
      <span class="text-gray-400 mx-2">/</span>
      <span class="text-gray-900">{{ board?.name || 'Cargando...' }}</span>
    </h1>
    <div>
      <button (click)="inviteMember()" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg transition">
        Invitar Miembro
      </button>
    </div>
  </header>

  <main class="flex-grow p-4 overflow-x-auto">
    <div cdkDropListGroup class="flex space-x-4 h-full items-start">
      <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)" class="flex space-x-4 h-full items-start">
        
        <app-column
            *ngFor="let column of columns"
            cdkDrag
            [column]="column"
            [connectedDropListsIds]="columnIds"
            (taskDropped)="dropTask($event)"
            (editName)="updateColumnName($event)"
            (delete)="deleteColumn($event)"
            (addTask)="addTask($event)"
            (editTask)="updateTask($event)"
            (deleteTask)="deleteTask($event)">
        </app-column>

      </div>

      <app-add-column-form (columnAdded)="addColumn($event)"></app-add-column-form>
      
    </div>
  </main>
</div>