/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

.gradient-background {
  background-color: #a1c4fd; /* Color de respaldo */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
